


 #home-page {
     padding-left: 100px;
     width: 95%;
     margin-top: 20px;
    

     .carousel-item {
         -webkit-transform: translateZ(0);
         -moz-transform: translateZ(0);
     }


     .browser-features {

        height: 600px;
         width: 100%;
         margin-top: 50px;
         

         .feature-title {

             font-family: 'Nunito Sans', sans-serif;
             font-style: normal;
             font-weight: 800;
             font-size: 30px;
             line-height: 15px;
             text-align: left;

             color: #000000;
         }
     }
 }