ul {
    list-style-type: none;
}



.side_navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 55px;
    background-color: #11101d;
    padding: 6px 13px;
    transition: all 0.5s ease;
}




.side_navbar .logo_content box-icon {
    color: #ffffff;

    height: 50px;
    width: 100%;
    align-items: center;
    padding-top: 25px;
    pointer-events: none;

    cursor: pointer;
}





.side_navbar ul {
    margin-top: 70px;
    padding-left: 0;
}

.side_navbar ul li {
    position: relative;
    height: 90px;
    width: 100%;

    list-style: none;
    line-height: 50px;

}







.side_navbar ul li a box-icon {
    color: #ffff;
    height: 20px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    padding-right: 25px;
}

.side_navbar .profile_box {
    background-color: #1d1b31;
    position: absolute;

    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;

    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;


}

.side_navbar .profile_box box-icon {
    color: #ffffff;

    height: 25px;
    width: 100%;
    align-items: center;
    padding-right: 15px;

    cursor: pointer;



}





.side_navbar ul li .tool-tip {
    color: white;
    position: absolute;
    left: 122px;
    height: 35px;
    width: 122px;
    background: #1d1b31;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translate(-40%, -120%);
    text-align: center;
    border-radius: 6px;
    line-height: 30px;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.side_navbar ul li:hover .tool-tip {
    transition: all 0.5s ease;
    top: 50%;
    opacity: 1;
}