.category-page {
    padding-left: 100px;
    margin-top: 50px;
    width: 95%;



    .categories {



        display: flex;
        position: relative;
        color: white;


        .category-movie-list {
            width: 90%;
            height: 100%;
        }

        .category-list {

            right: 10%;
            top: 15%;

        }
    }



}