.Loading {

    .movie-list {
        width: 100%;

        position: relative;
        height: 100%;



        .movie-list-title {}

        .movie-list-movies {


           

        }



        .movie-list-pagination {
            height: 80px;
            display: flex;
            align-items: start;
            justify-content: center;
            width: 100%;
            position: absolute;
            bottom: 0%;
            left: 20%;
        }
    }
}


.movie-list {
    width: 100%;

    position: relative;




    .movie-list-title {}




    .movie-list-pagination {
        height: 50px;
        display: flex;
        align-items: start;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }
}