 .feature-title {

     font-family: 'Nunito Sans', sans-serif;
     font-style: normal;
     font-weight: 800;
     font-size: 30px;
     line-height: 27px;
     text-align: left;

     color: #000000;
 }