$desktop: 1200px;
$table: 700px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content ;


    }

}

@mixin tab {
    @media (min-width: #{$table}) {
        @content ;


    }
}


.movie-page {
    padding-left: 120px;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    display: flex;
    position: relative;
    color: white;



}



.movie-preview {

    width: 90%;
    height: 800px;
    background: #11101D;
    border-radius: 25px;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    padding: 40px;

    .preview {
        display: flex;
        flex-direction: row;

        .preview-top {

            border-radius: 25px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05), 0px 4px 30px rgba(0, 0, 0, 0.05);
            width: 50%;
            height: 450px;


        }



        .preview-title {

            padding-left: 40px;
            padding-top: 30%;


            .title {

                font-size: 40px;
                line-height: 40px;
                letter-spacing: 0.02em;
            }

            .year {
                padding-top: 15px;
                font-size: 28px;
                line-height: 28px;
                letter-spacing: 0.02em;

            }

            .category {
                padding-top: 10px;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: 0.02em;

                color: #D72525;

            }

            .price {
                padding-top: 20px;
                font-size: 34px;
                line-height: 30px;
                letter-spacing: 0.02em;

            }


        }


        .cart-button {
            margin: 20px 40px;
            background: #000000;
            border-radius: 10px;
            padding-top: 10px;
            text-align: center;
            height: 40px;
            width: 80%;
            cursor: pointer;
        }

        .buy-button {
            margin: 10px 40px 10px 40px;
            background: #000000;
            border-radius: 10px;
            padding-top: 10px;
            text-align: center;
            height: 40px;
            width: 80%;
            cursor: pointer;
        }
    }

    .preview-description {

        margin-top: 10px;
        padding-top: 30px;

        .plot {

            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.02em;
        }
    }



}