.edit-movie {
    padding-left: 100px;
    padding-top: 50px;
    width: 95%;
    padding-bottom: 20px;

    .edit-movie-header {
        font-family: 'Nunito Sans', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 27px;
        text-align: left;
        margin-bottom: 30px;
        color: #000000;

    }

    upload

    .form-details {
        margin-top: 15px;
    }

    .upload-details {


        margin-top: 50px;
        width: 100%;

    }

}

.upload-info {

    background: #FFFFFF;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04), 0px 4px 56px rgba(0, 0, 0, 0.04);
    border-radius: 10px;

    padding: 50px;

    margin: auto;



}

.button {
    background-color: #161344 !important;
    border: none !important;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 80px !important;
}