.navBar-top {

    z-index: 1;
    top: 0;
    background-color: rgb(255, 255, 255);
    // position: fixed;
    // width: 100%;
    width: 100%;
   
    padding: 15px 50px 25px 40px;
    height: 65px;
    display: flex;
    justify-content: space-between;
   
   


    .title {
        padding: 0 60px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.065em;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

        a {
            color: #FFFFFF;
            text-decoration: none;

        }

        h1 {
            color: #11101d;
            font-family: 'Roboto Mono', monospace;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            text-decoration: none;
        }


    }


    .end-title1 {
        padding-top: 5px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.065em;
        display: flex;
        flex-direction: row;
        width: 120px;
        justify-content: space-between;
        align-items: center;

        h1 {
            color: #11101d;
            font-family: 'Roboto Mono', monospace;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            padding-right: 15px;
        }


    }



    .end-title {
        padding-top: 5px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.065em;
        display: flex;
        flex-direction: row;
        width: 160px;
        justify-content: space-between;
        align-items: center;


        a {

            text-decoration: none;

        }

        h1 {
            color: #11101d;
            font-family: 'Roboto Mono', monospace;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;

        }

    }

}