@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

.navBar1 {
    position: relative;
    z-index: 1;

    padding: 15px 60px;
    height: 65px;
    display: flex;
    justify-content: space-between;

}

.navBar1 .title {
    padding: 0 60px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.065em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

}

.navBar1 .title h1 {
    color: #11101d;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
}



.navBar1 .end-title {
    padding-top: 5px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.065em;
}

.navBar1 .end-title h1 {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}