.feature-carousel {
    overflow: hidden;
    position: relative;
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.65);
        color: white;
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        padding-left: 50px;





        .feature-title {
            height: 100px;
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 40px;
            color: white;
        }



        .feature-desc {

            height: 80%;
            width: 90%;
            margin-top: 50px;

            align-items: center;
            text-align: left;
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            color: white;
        }

        .more-info {
            display: table;
            width: 200px;
            height: 50px;
            cursor: pointer;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            border: none;
            border-radius: 5px;
            font-family: 'Nunito Sans', sans-serif;
            background: #11101D;


            span {
                color: white;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }


}