  .purchased-movie {
      position: relative;
      background: #0c0b0b;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      width: 90%;
      height: 60px;
      padding: 10px;
      font-family: 'Roboto Mono', monospace;
      font-style: normal;
      font-weight: bold;
      align-items: center;
      color: rgb(255, 255, 255);
      font-size: 20px;
      line-height: 20px;
      margin-top: 10px;    
      .purchase-movie-img {

          border-radius: 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          width: 40px;
          height: 40px;
      }

      .purchase-movie-info1 {
          margin-left: 50px;


          .movie-title {
              padding-bottom: 5px;
          }
      }


      .movie-category {
          margin-left: 50px;

      }

      .movie-rating {
          margin-left: 50px;
          color: rgb(0, 0, 0);

      }

      .movie-play {
          display: flex;
          flex-direction: row;
          position: absolute;
          right: 3%;
          padding: 20px;

          div {
              padding-top: 20px;
          }

          i {

              margin: 0 0 0 25px;
              font-size: 35px;
              cursor: pointer;
          }

      }
  }