.search-result {
    padding-left: 120px;
    height: 100%;
    width: 90%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: rgb(0, 0, 0);
   

    .search-result-title {
        height: 60px;
        width: 90%;
        font-size: 30px;
        font-weight: 500;
    }
}