/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


* {
  font-family: 'Nunito', sans-serif;

  text-decoration: none;
  color: #2c2c54;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .3s cubic-bezier(.38, 1.15, .7, 1.12);
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;



  line-height: 20px;

}